.HomeScreen {
  width: 100%;
  height: 20rem;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header {
  position: absolute;
  top: 1rem;
  justify-self: end;
  font-size: x-large;
}


.badge {
  background: rgba(89, 89, 89, 0.7);
  padding: .5rem !important;
}

.contact-container {
  position: absolute !important;
  bottom: 0;
  margin-bottom: 3.5rem;
  left: 50%;
  transform: translate(-50%);
}