.HomeScreen {
  width: available;
  height: 500px;
}

img {
  height: 100%;
  width: 100%;
  max-width: available;
  object-fit: cover;
}

.header {
  position: relative;
  top: -370px;
}

.header-tag {
  float: right;
  margin-right: 30px;
}

.badge {
  background: rgba(89, 89, 89, 0.7);
  padding: 7px !important;
}