.card_ {
  --secondary_color: #D1D1D1;
  background: hsla(0, 0%, 45%, 0.7);
  border: 3.5px solid white;
  border-radius: 2rem;
  color: white;
  width: 15rem;
  height: 9rem;
  box-shadow: 5px 5px 15px #8f8f8f;
}

.icon {
  color: var(--secondary_color);
}

p {
  font-size: .7em;
}