.about-left-bg {
  mask-image: linear-gradient(to left, #ffffffff, #ffffffff, #ffffff00);
  width: 50%;
  user-select: none;
  pointer-events: none;
}

.about-main {
  position: relative;
}

.about-screen {
  position: absolute;
  top: 15%;
  right: 37%;
  width: 50%;
  height: 70%;
  background: rgba(255, 255, 255, 0.5);
}

p {
  font-size: .8rem;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: .6rem;
  }

  .about-screen {
    width: 75%;
    right: 20%;
    overflow: scroll;
  }
}